<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if(user) { %>
    <h1>Welcome to <%= title %> <%= user.username %></h1>
    <% } else { %>
    <h1>Welcome to <%= title %></h1>
    <% } %>

    <hr />
    <p><a href="/messages/new">Add a message</a></p>
    <p><a href="/messages/board">Show all messages</a></p>
  </body>
</html>
